<?php
$i = 0
$cfg = array();

/* Site: localhost [$i] */
$i++;
$cfg['Site'][$i]['Host'] = 'localhost';
$cfg['Site'][$i]['User'] = '';
$cfg['Site'][$i]['PassWord'] = '';
$cfg['Site'][$i]['DataBase'] = '';
$cfg['Site'][$i]['NasAdd'] = 'nas.server.address';
$cfg['Site'][$i]['NasUser'] = 'SyncUser';
$cfg['Site'][$i]['NasPasswd'] = 'pass';

/* End of site configuration */

$cfg['TestMode'] = 1;
$cfg['DefaultLang'] = 'en-utf-8';
$cfg['MysqlDumpCMDPath'] = '/Applications/AMPPS/mysql/bin/mysqldump';
